@model Product
               
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<table class="table table-bordered">
    <tr>
        <td><label asp-for="ProductName"></label></td>
        <td><input asp-for="ProductName" class="form-control"/></td>
    </tr>
</table>
