@model AppWareHouse.Models.Product
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure to delete @Model.ProductName ? </h1>

<form asp-action="Delete" method="post">
    @Html.HiddenFor(m=>m.ProductId)
    <input type="submit"
           value="Delete"
           class="btn btn-outline-danger"/>

    <a asp-action="Index" class="btn btn-outline-warning">
        Cancel
    </a>
</form>

